{
  "presets": [
    "stage-0",
    "react",
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    "external-helpers"
  ],
  "env": {
    "esm": {
      "plugins": [
        [
          "transform-runtime",
          {
            "useBuiltIns": true
          }
        ]
      ],
      "ignore": [
        "**/*.test.js"
      ]
    }
  }
}